@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@700&display=swap');

*{
  margin: 0;
  padding: 0px;
}

body{
  font-family: 'Poppins', sans-serif;
}

nav button{
  all: unset;
  padding: 6px 16px;
  background: red;
  height: 32px;
  color: white;
  font-weight: 500px;
  border-radius: 5px;
} 

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 150px;
  height: 72px;


}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero{
  display: flex;
  max-width: 1280px;
  margin: 0 150px;
  align-items: center;
  height: calc(100vh-78px);
}

.hero-content {
  gap: 20px;
}

.hero-content h1{
  font-weight: 800px;
  font-size: 60px;
  line-height: 65px;
}

.hero-content > button{
  all: unset;
  padding: 6px 16px;
  background: red;
  height: 32px;
  color: white;
}

.hero-content > p{
  font-weight: bold;
  font-size: 11px;
  color: grey;
}

.btn{
  display: flex;
  gap: 20px;

}
.hero-btn{
   width: 100px;
   height: 30px;
   background-color: rgba(165, 15, 15, 0.811) ;
   gap: 40px;
   color: white;
   border: none;
}
